:root{
    --bg-color:#698f3fff;
    --primary-brown: #804e49ff;;
    --text-color: #0a122aff;
}

.logo {
    height: 120px; 
    width: auto; 
}

body {
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    color: var(--text-color);
    text-align: center;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background-color: transparent;
}


.lista-link {
    display: flex;
    flex-direction: row; 
    gap: 2rem; 
    list-style: none; 
    margin: 0;
    padding: 0;
}

#active {
    color: #fbfaf8ff;
    text-decoration: underline;
    cursor: default;
    pointer-events: none; 
}

.lista-link a:not(#active) {
    color: #2b2b2b; 
    font-weight: 600; 
    transition: all 0.3s ease;
}

.lista-link a:not(#active):hover {
    color: #fbfaf8ff;
    text-decoration: underline;
}

.contact-button {
    background-color: var(--bg-color);
    color: black;
    border: none;
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-button:hover {
    background-color: #fbfaf8ff;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    transform: scale(1.05);
}
/*Footer*/

.follow {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 40px auto;
}

.follow h3 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.follow .social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.follow .social-icons a {
    color: #333;
    font-size: 1.5rem;
    transition: color 0.3s ease;
}
.follow .social-icons a:hover {
    color: #fbfaf8ff;
}
